{{ content }}


# Patrick Sawyer

My name is Patrick Sawyer, native of Virginia Beach, VA in the United States, and I am currently a PhD candidate in the Doctoral School of Political Science and lecturer of Political Science in the School of Politics and Governance at HSE University. My research interests are centered primarily around populism, however, I also perform research on the consequences of conspiracy theories, political behavior, radicalism, and political protests. My dissertation focuses on the relationship that populism has with conspiracy theories, and the role that they play in building support for populist candidates for office. I speak English, French, and Russian.

For all questions or media inquiries, please contact me at [PSawyer@hse.ru](PSawyer@hse.ru).
